<form class="{{cssClass}} votv-microchip-sheet" autocomplete="off">
  <header class="sheet-header">
    <img class="profile" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="item-name">
        <input name="name" type="text" value="{{item.name}}" placeholder="Mikro-Chip neve" />
      </h1>
      <div class="item-type">
        <label>Típus</label>
        <select name="system.abilityType">
          <option value="passive" {{#if (eq system.abilityType "passive")}}selected{{/if}}>Passzív</option>
          <option value="active" {{#if (eq system.abilityType "active")}}selected{{/if}}>Aktív</option>
        </select>
      </div>
    </div>
  </header>

  <section class="sheet-body">
    <div class="microchip-grid">
      <div class="field">
        <label>Küzdelmi Pont</label>
        <input type="number" name="system.replaceCost" value="{{system.replaceCost}}" min="0" />
      </div>
    </div>

    <div class="field">
      <label>Leírás</label>
      <textarea name="system.description" rows="6">{{system.description}}</textarea>
    </div>
  </section>
</form>
